<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Usuarios</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size="8">
        <ion-item>
          <ion-input type="text" aria-placeholder="Buscar más usuarios..." [(ngModel)]="textSearch"
            (keyup.enter)="search()" [disabled]="wait" placeholder="Buscar más usuarios..." autocorrect="off"
            autocapitalize="none">
          </ion-input>
          <ion-button (click)="search()" [disabled]="wait || !textSearch">
            Buscar
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="newUser()" color="primary">
          Nuevo Usuario
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card class="bg-white">
          <ion-grid class="ion-padding">
            <ion-row class="ion-padding">
              <ion-col size="3" class="ion-text-bold">Email</ion-col>
              <ion-col size="2" class="ion-text-bold">Apellido / Nombres</ion-col>
              <ion-col size="2" class="ion-text-bold">Teléfono / DNI / CUIT</ion-col>
              <!-- <ion-col size="1" class="ion-text-bold">Envíos</ion-col> -->
              <ion-col size="2" class="ion-text-bold center ">Movimientos</ion-col>
              <ion-col size="1" class="ion-text-bold center">Coins</ion-col>
              <ion-col size="2" class="ion-text-bold center ">Opciones</ion-col>
            </ion-row>
            <ion-row class="ion-padding" *ngFor="let user of users" (click)="editUser(user)">
              <ion-col size="3">
                <ion-text color="{{(user.emailvalidated)?'success':'warning'}}">
                  {{user.email}}
                </ion-text>
              </ion-col>
              <ion-col size="2">{{user.lastname}} {{user.firstname}}</ion-col>
              <ion-col size="2">{{user.phoneNumber}} / {{user.dni}} / {{user.cuit}}</ion-col>
              <!-- <ion-col size="1"></ion-col> -->
              <ion-col size="2" class="center ">
                <p>{{user.proofs || 0}}</p>
              </ion-col>
              <ion-col size="1" class="center">
                <p>{{user.coins || 0}}</p>
              </ion-col>
              <ion-col size="2" class="center ">
                <ion-button *ngIf="!user.isBlocked" size="small" (click)="saveIsBlocked(user)" color="success"
                  title="Bloquear usuario">
                  <i class="las la-lock-open"></i>
                </ion-button>
                <ion-button *ngIf="user.isBlocked" size="small" (click)="saveIsBlocked(user)" color="warning"
                  title="Desbloquear usuario">
                  <i class="las la-lock"></i>
                </ion-button>
                <ion-button class="icon" size="small" color="light" shape="round" title="Movimientos"
                  (click)="viewMovimientos(user.id, user.lastname, user.firstname, user.email,user.proofs||0,user.coins||0)">
                  <ion-icon name="book"></ion-icon>
                </ion-button>
                <ion-button class="icon" size="small" color="warning" shape="round" title="Agregar Coins"
                  (click)="addCoinsByAdmin(user.id, user.email, user.coins || 0)">
                  <ion-icon name="add-circle"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
